<h1>Welcome</h1>

<p>We are currently working on your account.</p>
<% if helpers.is_logged_in? %>
  Hi, <% = @user %>. Your balance is <% @user.balance %>
<% else %>
  <p>You need to be logged in to view your balance. Please return to <a href="/"</a>the homepage and try again.</p>
<% end %>


<p><a href="/logout">Log Out</a></p>
