<h1>Welcome <%= @user.username %></h1>

<p>We are currently working on your account.</p>

<p>Your balance is <%= @user.balance %>, as of now.
  Would you like to make a <a href="/deposit">deposit</a> or <a href="/withdraw">withdraw</a>?</p>

<p><a href="/logout">Log Out</a></p>
