<form method="post" action="/account">
  <label for="deposit" How much would you like to deposit?>
    <input type="text" name="deposit" placeholder="$">
    <input type="submit" value="Deposit">
  </form>
