<form method="post" action="/account">
  <p>"deposit" How much would you like to deposit?</p>
    <input type="text" name="deposit" placeholder="$">
    <input type="submit" value="Deposit">
  </form>
