<form method="post" action="/account">
  <p>Enter the amount you would like to withdraw.</p>
    <input type="text" name="withdraw" placeholder="$">
    <input type="submit" value="Withdraw">
  </form>
